/********************************
* Carousel styles
*********************************/

.carousel{
  margin: 5vw;
}
.card{
  display: flex;
  flex-direction: column;
}
.card-title {
  text-align: center;
  color: #39F99D;
}
.card-text{
  color: #39F99D;
  text-justify: auto;

}

.carousel-items {
  display: flex;
  overflow-x:  scroll;
  scroll-snap-type: both mandatory;
  scroll-padding-block: 0;
  font-family: "Piazzolla";
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 0vw;
  box-shadow: 0 2px 2px 0 rgb(22, 22, 22);
  box-sizing: content-box;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  font-size: 18px;

}

.carousel-item {
  flex: 1 0 100%;
  scroll-snap-align: start;
  padding: 2vw;  


}



ul {
  list-style-type: none; 
  
}

a:link { color: white; }          /* Liens non visités */
a:visited { color: white; }     /* Liens visités */
a:active { color: white; }         /* Liens actifs */

