/********************************
* Carousel styles
*********************************/

.carousel{
  margin: 5vw;

}

h2 {
  text-align: center;
  
}

.carousel-items {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  font-family: "Piazzolla";
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 1vw;
  margin: 0vw;
  box-shadow: 0 2px 2px 0 black;
  box-sizing: content-box;
  background-color: #fff ;
  text-justify: auto;


}

.carousel-item {
  flex: 1 0 100%;
  scroll-snap-align: start;
  padding: 2vw;  

}

.carousel-image{
  width: 100%;
  height: 30%;
  max-height: 50vw;

}

ul {
  list-style-type: none; 
}