.scenes-ile {
    display: flex;
    flex-direction: column;
    width: 100%;
}
  
.scenes-ile  h1 {
    font-family: "Oswald";
    text-align: center;
    text-shadow: 3px 6px 3px gray;
    font-size: 5vw;
}
  
article {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
  
}
  
article img {
    max-width: 100%;
    height: auto;
}
  
article p {
    font-family: "Piazzolla";
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0vw;
    padding: 2vw;
    box-shadow: 0 2px 2px 0 black;
    box-sizing: content-box;
    background-color: #fff ;
    display: none;
}
  
.icone {
    max-width: 3vh;
    max-height: 3em;
}

iframe{
  width: 100%;
}

@media screen and (min-width: 768px) {
  .scenes-ile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .scenes-ile  h1 {
    font-family: "Oswald";
    text-align: center;
    text-shadow: 3px 6px 3px gray;
  }

  article {
    display: grid;
    grid-column-gap: 1vw;
    align-items: center;
  }

  article img {
    max-width: 40vw;
  }

  article p {
    font-size: 1.2vw;
    grid-column: 2;
    display: block;
  }
}