.image-header{
  background-image: url("img/image-header.png");
  background-size: 100vw;
  height: 20vw;
}

.logo{
  width: 25vw;
}

nav ul {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #39F99D;
  width: 100px;
  display: inline-block;
  padding: 2vw;
  font-size: 18px;
  font-family:"Coda";
  margin-right: 100px;
  text-transform: uppercase;
}
/* Menu Burger */
#menuToggle {
  display: block;
  position: relative;
  top: 43px;
  left: 30px;
  width: 100px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color:#39F99D; 
}

#menuToggle .nav-input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; 
  z-index: 2; 
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background:#39F99D;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle .nav-input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle .nav-input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle .nav-input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300x;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #cdcdcd;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: inherit;
  font-size: 20px;
}

#menuToggle .nav-input:checked ~ ul {
  transform: none;
}

@media screen and (min-width: 768px) 
{
  nav a {
    width: auto;
  }

  #menuToggle {
    top: 15.8vw;
  }

  #menuToggle a {
    color: #fff;
  }
  #menuToggle a:hover {
    color: #39F99D;
  }

  #menuToggle span, .nav-input {
    display: none;
  }

  #menuToggle input ~ ul {
    transform: none;
  }

  #menu {
    display: flex;
    width: 100vw;
    padding: 0;
    background: rgb(128,128,128);
    background: linear-gradient(180deg, rgba(128,128,128,0.1923144257703081) 0%, #39f99d 550%);
  }

  .image-header {
    background-size: 100%, auto;  
  }

  #menuToggle input:checked ~ span {
    opacity: 0;
  } 

  .logo{
    width: auto;
    height: 10vh;
  }
}


