/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap'); /* menu */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); /*titres*/
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap'); /* textes paragraphes */

/* Début Header */

.headerright {
  flex: 2;
  background-image: url(img/image-header.png);
  background-size: cover;
}

.image-header{
  background-image: url("img/image-header.png");
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 20vw;
}


.logo{
  width: 25%;
  height: 90%;
}

.burger {
  position: absolute;
  right: 5vw;
  width: 10%;

}
/*
#menu{
  visibility: hidden;
}
*/

/*Fin Header*/


/* Début styles pages annexes */ 

.scenes-ile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scenes-ile  h1 {
  font-family: "Oswald";
  text-align: center;
  text-shadow: 3px 6px 3px gray;
  font-size: 5vw;
}

article {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;

}

article img {
  max-width: 100%;
  height: auto;
}

article p {
  font-family: "Piazzolla";
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 0vw;
  padding: 2vw;
  box-shadow: 0 2px 2px 0 black;
  box-sizing: content-box;
}
/* Fin styles pages annexes */

/*
CSS pour le footer
*/
footer {
  background-color: #242121;
}

footer > div > h2 {
  font-family: "Oswald";
  margin-bottom: .5em;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.child-container {
  display: flex;
  width: 96vw;
  flex-direction: row-reverse;
}

.footer-title {
  margin-bottom: 1em;
  color: #fff;
  padding: 0.7em;
}

form > div {
  padding: .3em;
}

input, textarea {
  padding: .3em;
  border: 1px solid #fff;
  border-radius: 3px;
  background: #fff;
  opacity: 50%;
  width: 96vw;
  height: 4em;
}

textarea {
  height: 8em;
}

button {
  padding: .3em;
  border: 1px solid #fff;
  border-radius: 3px;
  background: #fff;
  opacity: 50%;
  width: 12em;
  height: 4em;
}





@media screen and (min-width: 768px) {
  
  /* Début media pages annexes */ 

.scenes-ile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scenes-ile  h1 {
  font-family: "Oswald";
  text-align: center;
  text-shadow: 3px 6px 3px gray;
}

article {
  display: grid;
  grid-column-gap: 1vw;
  align-items: center;


}

article img {
  max-width: 40vw;

}


article p {
  grid-column: 2;
}
/* Fin styles pages annexes */

}
