
/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap'); /* tenu */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); /*titres*/
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap'); /* textes paragraphes */


html {

}

body {

}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(2, 750px);
}
/******* Effet Flou quand la souris passe sur l' image" ******/
.bg,
.overlay {
  text-align: center;
}

img,
.overlay {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border-radius: 3px;
}

/*
**pour que le h2 et le paragraph
**reste au centre de l'image
**position: relative
*/

.bg {
  width: 750px;
  position: relative;
}

.bg img {
  width: 750px;
  margin-bottom: -4px;
}

.bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 0;
}

.bg .overlay h2 {
  padding-top: 20%;
  font-family: "Droid Serif", serif;
}

.bg .overlay p {
  font-family: "Julius Sans One", sans-serif;
}

.bg:hover .overlay {
  opacity: 1;
}

.bg:hover img {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

@media screen and (max-width: 1148px) {
  .bg {
    max-width: 48%;
    margin: 1%;
  }
}

@media screen and (max-width: 768px) {
  .bg {
    float: none;
    max-width: 80%;
    margin: 1% auto;
  }
}


/*
CSS pour le footer
*/
@media screen and (max-width: 768px) {
  footer {
    background-color: #242121;
  }
  
  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .child-container {
    display: flex;
    width: 97vw;
    flex-direction: row-reverse;
  }
  
  footer > h2, p {
    margin-bottom: 1em;
    color: #fff;
    padding: 0.3em;
  }
  
  form > div {
    padding: .3em;
  }
  
  input, textarea {
    padding: .3em;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #fff;
    opacity: 50%;
    width: 740px;
    height: 4em;
  }
  
  textarea {
    height: 8em;
  }
  
  button {
    padding: .3em;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #fff;
    opacity: 50%;
    width: 12em;
    height: 4em;
  }
}

