
/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap'); /* menu */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); /*titres*/
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap'); /* textes paragraphes */


html {

}

body {

}

.scenes-ile {
  display: flex;
  flex-direction: column;
  width: 100%;
  
}

.scenes-ile  h1 {
  font-family: "Oswald";
  text-align: center;
  text-shadow: 3px 6px 3px gray;

}

article {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;

}

article img {
  max-width: 100%;
	height: auto;
}

article p {
  font-family: "Piazzolla";
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 0em;
  box-shadow: 0 2px 2px 0 black;

}

