/* Polices */
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap'); /* menu */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); /*titres*/
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap'); /* textes paragraphes */

html, body {
  margin: 0;
}


/* Début Header */

.image-header{
  background-image: url("img/image-header.png");
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 20vw;
}

.logo{
  width: 25vw;
  height: 19vw;
}

.burger {
  position: absolute;
  right: 5vw;
  width: 10%;

}
/*
#menu{
  visibility: hidden;
}
*/

/*Fin Header*/


/* Début styles pages annexes */ 

.scenes-ile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scenes-ile  h1 {
  font-family: "Oswald";
  text-align: center;
  text-shadow: 3px 6px 3px gray;
  font-size: 5vw;
}

article {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;

}

article img {
  max-width: 100%;
  height: auto;
}

article p {
  font-family: "Piazzolla";
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin: 0vw;
  padding: 2vw;
  box-shadow: 0 2px 2px 0 black;
  box-sizing: content-box;
  background-color: #fff ;
}

.icone {
  max-width: 3vh;
  max-height: 3em;
}
/* Fin styles pages annexes */

/*
CSS pour le footer
*/

@media screen and (max-width: 768px) {
  footer {
    background-color: #242121;
  }

  footer > div > h2 {
    font-family: "Oswald";
    margin-bottom: .5em;
  }

  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .child-container {
    display: flex;
    width: 93vw; 
    padding: .3em;
    flex-direction: row-reverse;
  }

  .footer-title {
    margin-bottom: 1em;
    color: #fff;
    padding: 0.7em;
  }

  input, textarea {
    padding: .3em;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #fff;
    opacity: 50%;
    width: 93vw;
    height: 4em;
    box-shadow:inset 0 0 10px #000000;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
  }

  textarea {
    height: 8em;
    font-style: italic;
  }

  button {
    padding: .3em;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #fff;
    opacity: 50%;
    width: 12em;
    height: 4em;
    box-shadow:inset 0 0 10px #000000;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    font-weight: bold;
  }

}

@media screen and (min-width: 768px) {
  .image-header{
    height: 20vh;
    background-size: 100%, auto;
  }
  .logo{
    width: 18vh;
    height: 18vh;
  }
  /* Début media pages annexes */ 

  .scenes-ile {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .scenes-ile  h1 {
    font-family: "Oswald";
    text-align: center;
    text-shadow: 3px 6px 3px gray;
  }

  article {
    display: grid;
    grid-column-gap: 1vw;
    align-items: center;


  }

  article img {
    max-width: 40vw;

  }

  article p {
    grid-column: 2;
  }
  /* Debut footer */
  footer { 
    padding: 1em;
    background-color: #242121;
    display: grid;
    grid-gap: 5vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }

  .form-container {
    display: grid;
    grid-gap: 1vw;
  }

  .contact {
    margin-top: 0;
  }

  .footer-title {
    margin-bottom: 1em;
    color: #fff;
    grid-column: 1 / 2;
  }

  .area-desktop {
    grid-column: 2 / 3;
  }

  input {
    padding: .3em;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #fff;
    opacity: 50%;
    width: 25vw;
    height: 6vh;
    margin-bottom: 0.7vh;
    box-shadow:inset 0 0 10px #000000;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
  }

  textarea {
    padding: .3em;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #fff;
    opacity: 50%;
    width: 25vw;
    height: 15vh;
    box-shadow:inset 0 0 10px #000000;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    font-style: italic;
  }

  button {
    padding: .3em;
    border: 1px solid #fff;
    border-radius: 3px;
    background: #fff;
    opacity: 50%;
    width: 6vw;
    height: 5vh;
    float: right;
    box-shadow:inset 0 0 10px #000000;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    font-weight: bold;
  }
}

